.showType {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.showType > p {
  color: white;
  font-weight: bold;
  margin-left: 5px;
}

.showTypeSelected {
  background-color: red;
}
